<%= notice %>

<% if @book.errors.any? %>
  <% if @book.errors.count == 1 %>
    <%= @book.errors.count %> error prohibited this obj from being saved:
  <% else %>
    <%= @book.errors.count %> errors prohibited this obj from being saved:
  <% end %>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>



<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'books/list', book: @book %>
    <div class="col-md-8 offset-md-1">
      <h2><i class="fa-solid fa-house-chimney"></i>Books</h2>
      <table class="table">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th></th>
        </tr>

        <% @books.each do |book|%>

        <tr>
          <td>
            <%= link_to user_path(book.user) do %>

              <%= image_tag book.user.get_profile_image(100,100) %>
            <% end %>
          </td>
          <td>
            <%= link_to book_path(book.id) do %>
              <%= book.user.name %>
            <% end %>
          </td>
          <td>
            <%= book.title %>
          </td>
          <td>
            <%= book.body %>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>